
<section class="py-10 flex flex-col gap-10 bg-yellow-50">
<div class="lg:w-3/6 w-5/6 m-auto">
<%= button_to 'create new recipe', new_user_recipe_path(current_user), method: :get, class:"float-right bg-amber-400 p-3 rounded-3xl hover:bg-amber-500 text-white"%>
</div>
<% @recipes.each do |recipe|%>

    <article class="flex  md:gap-20 gap-5 justify-between bg-yellow-200 p-7 rounded-lg lg:w-3/6 w-5/6 m-auto" >
        <div class="flex flex-col ">
        <%= link_to user_recipe_path(id: recipe.id, user_id: current_user.id), class:"mb-4" do%>
        <h2 class="text-2xl font-medium text-indigo-900"><%= recipe.name %></h2>
        <% end %>
        <% if can? :destroy,recipe %>
        <%= button_to "Remove", user_recipe_path(id: recipe.id,user_id: current_user.id), method: :delete, class:"bg-red-500 text-white py-1 px-4 rounded-full tracking-wider" %>
        <% end %>
        </div>
        <p><%= recipe.description %></p>
    </article>
    
<%end%>
</section>